<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="powershell-core" />
      <package id="oh-my-posh" />
      <package id="git" />
      <package id="python" />
      <package id="vscode" />
      <package id="nvm" />
      <package id="googlechrome" />
      <package id="firefox" />
      <package id="postman" />
      <package id="sharex" />
      <package id="postman" />
      <package id="wireshark" />
      <package id="terraform" />
      <package id="revo-uninstaller" />
      <package id="blender" />
      <package id="7zip" />
      <package id="autohotkey" />
      <package id="hxd" />
      <package id="microsoft-windows-terminal" installArguments="pre" />
      <package id="cascadia-code-nerd-font" />
      <package id="terminal-icons.powershell" />
    </packages>